{% include "partials/header.njk" %}
<div class="block">
  <center>
    <h3>Você é maior de idade e possui x = {{age}} anos </h3>
  </center>
  </div>
  <div class="block">
    <center>
      <img src="https://media.giphy.com/media/ip9n5Cg3Pcfyo/giphy.gif" alt="" srcset="" />
    </center>
  </div>

  <div class="block">
    <center><a class="btn" href="/">Voltar para Checagem</a></center>
  </div>
{% include "partials/footer.njk" %}
